// theme.scss
$main-color: blue;
$site-width: 1200px;

// Typography
// https://material.io/archive/guidelines/style/typography.html
$display1: 112px;
$display2: 56px;
$display3: 45px;
$display4: 34px;

$heading1: 24em;
$heading2: 20px;
$heading3: 16px;
$body: 14px;
$body-strong: 14px;
$caption: 14px;
